@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');

html, body{
    background-color: #000;
    color:#fff;
    font-family: "Nanum Gothic Coding", monospace;
}
/*변수 설정*/
:root {
    /*색상*/
	--point-color: #e8007e; 
    --bg-box-color: #2C2C2C;
    /* 폰트사이즈 */
    --font-size-small: 16px;
    --font-size-medium: 20px; 
    --font-size-large: 24px;
    --font-size-extra-large: 32px;

    /* 태블릿 폰트 사이즈*/
    --tablet-font-size-small: 14px;
    --tablet-font-size-midium: 16px;
    --tablet-font-size-large: 20px;
    --tablet-font-size-extra-large: 24px;

    /*모바일 폰트 사이즈*/
    --mobile-font-size-small: 12px;
    --mobile-font-size-midium: 14px;
    --mobile-font-size-large: 18px;
    --mobile-font-size-extra-large: 24px;
}

h1{
    font-size: var(--font-size-extra-large);
}
h2{
    font-size: var(--font-size-large);
}
p{
    font-size: var(--font-size-medium);
}